
body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: rgba(199, 213, 236, 0.485);
  min-height: 100vh;
  background-attachment: fixed;
}

.bg-primary {
  background-color: #234983 !important;
}

.text-primary {
  color: #0d47a1 !important;
}

.btn-primary {
  background-color: #0d47a1;
  border-color: #0d47a1;
}
.btn-primary:hover {
  background-color: #0b3a82;
  border-color: #0b3a82;
}


.bg-secondary-custom {
  background-color: #69798a;
}

.navbar-logo {
  height:80px;
  width: auto;
}

.navbar-nav.me-auto {
  margin-left: 2rem;
}

.card {
  border-radius: 14px;
  border: 1px solid rgba(58, 94, 148, 0.4);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.btn {
  border-radius: 28px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.form-control {
  border-radius: 28px;
  padding-left: 1.2rem;
}