@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.anime-start {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-out;
}

.anime-start.anime-end {
    opacity: 1;
    transform: translateY(0);
}

body {
    display: block !important;
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #f8f9fa; /* Cor de fundo caso a imagem falhe */
    overflow-x: hidden; /* Evita rolagem horizontal acidental */
    min-height: 100vh;
}

.logo-fixed {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 90px;
    height: auto;
    z-index: 10;
}

.card-glass {
    background: rgba(255, 255, 255, 0.95) !important;
    border: 1px solid rgba(13, 71, 161, 0.3);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.progress {
            height: 25px;
            border-radius: 15px;
            background-color: #e9ecef;
        }
        .progress-bar {
            font-weight: bold;
            line-height: 25px;
        }
        /* Efeito hover na linha da tabela */
        .table-hover tbody tr:hover {
            background-color: rgba(13, 110, 253, 0.02);
        }